.custom_col_3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
.custom_text_center{
    text-align: center;
}


.site_breadcrumb{
    position: relative;
    width: 100%;
}
.site_breadcrumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.breadcrumb_content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 3, 3, 0.27);
}
.breadcrumb_content h2{
    color: #FFFFFF;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}
.breadcrumb_content p{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.collection_bttn_group{
    width: 100%;
    padding: 65px 0;
}
/* .collection_bttn_group ul{
    display: flex;
    flex-wrap: wrap;
} */
.collection_bttn_group ul{
    display: flex;
    flex-wrap: wrap;
}
.collection_bttn_group li{
    display: block;
    margin-right: 47px;
}
.collection_bttn_group li:last-child{
    margin-right: 0;
}
.collection_bttn_group a{
    position: relative;
    display: block;
    min-width: 235px;
    border: 1.5px solid #ED751E;
    background-color: #FFFFFF;
    color: #ED751E;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 18px;
}

.custom_pagination{
    width: 100%;
    padding: 25px 0;
}
.custom_pagination ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.custom_pagination li{
    padding: 11px;
}
.custom_pagination a{
    width: 55px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #333333;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
}
.custom_pagination a:hover,
.custom_pagination a:focus,
.custom_pagination a.active{
    background-color: #333333;
    color: #FFFFFF;
}


.products_section{
    width: 100%;
    padding: 20px 0 60px;
}
.products_card{
    width: 100%;
    margin-bottom: 45px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-wrap: wrap;
}
.products_card_img{
    width: 40%;
    background-color: #C9C9C9;
}
.products_card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.products_card_content{
    width: 60%;
    padding: 30px 38px 30px 50px;
}
.products_card_content h4{
    color: #181818;
    font-size: 27px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    margin-bottom: 25px;
    line-height: 1.43;
}
.products_card_content p{
    color: #333333;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 20px;
}
.products_card_content .bttn_wrapper{
    text-align: right;
}
.products_card_content a{
    display: inline-flex;
    align-items: center;
    color: #333333;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1;
    transition: all 0.3s;
}
.products_card_content a img{
    width: 28px;
    margin-left: 27px;
    transition: all 0.3s;
}
.products_card_content a:hover,
.products_card_content a:focus{
    color: #e66925;
}


.product_inquery{
    width: 100%;
    padding: 88px 0;
}
.product_inquery h2{
    color: #ED751E;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}
.product_inquery p{
    color: #080808;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}
.product_inquery .bttn_wrapper{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.product_inquery .bttn_wrapper a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333333;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1;
    padding: 22px 38px 22px 68px;
    transition: all 0.3s;
}
.product_inquery .bttn_wrapper a:hover,
.product_inquery .bttn_wrapper a:focus{
    background-color: #FFFFFF;
    color: #333333;
}
.product_inquery .bttn_wrapper a img{
    margin-left: 30px;
    filter: invert(1);
}
.product_inquery .bttn_wrapper a:hover img,
.product_inquery .bttn_wrapper a:focus img{
    filter: invert(0);
}

.slash_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.slash_heading h2{
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 72px;
}
.slash_heading h2:before,
.slash_heading h2:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 1.4px;
    height: 45px;
    background-color: #333333;
}
.slash_heading h2:before{
    left: 0;
    transform: rotate(-25deg);
}
.slash_heading h2:after{
    right: 0;
    transform: rotate(25deg);
}
.product_trouble .slash_heading{
    margin-bottom: 80px;
}
.product_trouble .custom_row{
    justify-content: center;
}
.product_trouble .custom_col_3{
    margin-bottom: 35px;
}
.product_trouble_box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #C05140;
    padding: 40px 32px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 2;
    border-radius: 35px;
}
.product_trouble_box.radius_none_right{
    border-radius: 35px 35px 0 35px;
}
.product_trouble_box.radius_none_left{
    border-radius: 35px 35px 35px 0;
}
.product_trouble_bottombar{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.product_trouble_bottombar img{
    display: inline-block;
}


.product_solved{
    position: relative;
    width: 100%;
    padding: 165px 0 50px;
    text-align: center;
    background-image: url('../images/product_solved_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.product_solved:before{
    content: 'ON-MAKE';
    position: absolute;
    bottom: -20px;
    right: 0;
    color: #FFFFFF;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
}
.product_solved h2{
    color: #ED751E;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.4;
    margin-bottom: 48px;
}
.product_solved p{
    width: 100%;
    max-width: 790px;
    margin: auto;
    color: #333333;
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 65px;
}
.product_solved img{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.product_solved .custom_col_6{
    margin-bottom: 30px;
}

.product_feature{
    width: 100%;
    padding-top: 123px;
}
.product_feature h2{
    color: #ED751E;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.4;
    margin-bottom: 48px;
    text-align: center;
    margin-bottom: 77px;
}
.product_feature .custom_col_4{
    margin-bottom: 30px;
}
.product_feature_card{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 22px 22px 26px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;
}
.product_feature_card span{
    position: absolute;
    top: -34px;
    right: 0;
    color: #333333;
    font-size: 34px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1;
    transform: rotate(-10deg);
}
.product_feature_card img{
    width: 100%;
    margin-bottom: 20px;
}
.product_feature_card h4{
    color: #000000;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    margin-bottom: 12px;
}
.product_feature_card p{
    color: #080808;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 2.1;
}

.product_certificate{
    width: 100%;
    padding: 58px 0;
    text-align: center;
}
.product_certificate .slash_heading{
    margin-bottom: 64px;
}
.product_certificate .custom_col_6{
    margin-bottom: 30px;
}
.product_certificate img{
    display: inline-block;
}
.product_certificate_video{
    padding: 30px 0;
}

.product_forklift{
    padding: 0 0 15px;
}
.product_forklift h4{
    color: #333333;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 55px;
}
.product_forklift table{
    width: 100%;
    border: 1px solid #A9A9A9;
    color: #080808;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 22px;
}
.product_forklift table thead{
    background-color: #F5F5F5;
}
.product_forklift table thead th,
.product_forklift table thead td{
    padding: 16px 25px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.product_forklift table tbody{
    padding: 10px 0;
}
.product_forklift table tbody th,
.product_forklift table tbody td{
    padding: 8px 24px;
}
.product_forklift table tbody tr:first-child th,
.product_forklift table tbody tr:first-child td{
    padding-top: 15px;
}
.product_forklift table tbody tr:last-child th,
.product_forklift table tbody tr:last-child td{
    padding-bottom: 20px;
}
.product_forklift table tbody th span,
.product_forklift table tbody td span {
    min-width: 124px;
    display: inline-block;
}
.customer_voice_section{
    position: relative;
    width: 100%;
    padding: 35px 0 58px;
}
.customer_voice_section:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 44%;
    background-color: #ED751E;
}
.customer_voice_section:after{
    content: 'CUSTOMER VOICE';
    position: absolute;
    left: 0;
    bottom: -17px;
    color: #9F4E13;
    font-size: 120px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    opacity: 0.16;
}
.customer_voice_section h2{
    color: #ED751E;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 78px;
}
.customer_voice_section .custom_col_4{
    margin-bottom: 30px;
}
.customer_voice_card{
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
    padding: 32px 22px 37px;
    min-height: 100%;
    z-index: 1;
}
.customer_voice_card span{
    position: absolute;
    top: -34px;
    right: 0;
    color: #333333;
    font-size: 34px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1;
    transform: rotate(-10deg);
}
.customer_voice_card img{
    width: 158px;
    height: 158px;
    border-radius: 50%;
    margin: 0 auto 15px;
    background-color: #F5F5F5;
}
.customer_voice_card p{
    color: #000000;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.customer_voice_card h4{
    color: #000000;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 30px 0 12px;
}



.product_faq{
    width: 100%;
    padding: 82px 0 45px;
}
.product_faq h2{
    color: #ED751E;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 24px;
}
.product_faq .jquery_accordion h3{
    position: relative;
    border: 1px solid #A9A9A9;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1;
    padding: 18px 26px;
    margin-top: 23px;
}
.product_faq .jquery_accordion h3.ui-state-active{
    border-bottom: none;
}
.product_faq .jquery_accordion h3:after{
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    margin: auto;
    color: #333333;
    width: 18px;
    height: 18px;
}
.product_faq .jquery_accordion h3.ui-state-active:after{
    content: '\f068';
}
.product_faq .jquery_accordion .ui-accordion-header-icon{
    display: none;
}
.product_faq .jquery_accordion .tag{
    color: #ED751E;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-right: 34px;
}
.product_faq .jquery_accordion .answer{
    border: 1px solid #A9A9A9;
    border-top: none;
    background-color: #FFFFFF;
    padding: 34px 26px;
    display: flex;
    align-items: flex-start;
    color: #333333;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 2;
}
.product_faq .jquery_accordion .answer .tag{
    padding-top: 7px;
}

.product_contact_section{
    width: 100%;
    padding: 45px 0 100px;
}
.product_contact_section .slash_heading{
    margin-bottom: 48px;
}
.product_contact_box{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
    padding: 74px 15px 84px;
}
.product_contact_box > h2{
    color: #333333;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
    text-align: center;
}
.product_contact_box > p{
    color: #ED751E;
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 35px;
}
.custom_form{
    width: 100%;
    max-width: 702px;
    margin: auto;
}
.custom_form_group{
    margin-bottom: 20px;
}
.custom_form label{
    display: block;
    color: #181818;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.custom_form input,
.custom_form textarea,
.custom_form select{
    display: block;
    width: 100%;
    border: 1px solid #A9A9A9;
    background-color: #FFFFFF;
    color: #181818;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 9px 20px;
}
.custom_form input::placeholder,
.custom_form textarea::placeholder,
.custom_form select::placeholder{
    color: #181818;
    opacity: 0.5;
}
.custom_form input:focus, .custom_form input:not(:placeholder-shown),
.custom_form textarea:focus, .custom_form textarea:not(:placeholder-shown),
.custom_form select:focus, .custom_form select:not(:placeholder-shown){
    border-color: #181818;
}
.custom_form textarea{
    resize: none;
    height: 223px;
}
.custom_form .submit_bttn{
    position: relative;
    display: block;
    width: 100%;
    max-width: 312px;
    margin: 70px auto 0;
    border: 2px solid #333333;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 20px 10px;
}
.custom_form .submit_bttn:hover,
.custom_form .submit_bttn:focus{
    background-color: #FFFFFF;
    color: #333333;
}
.custom_form .submit_bttn img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    margin: auto;
}
.custom_form .submit_bttn:hover img,
.custom_form .submit_bttn:focus img{
    filter: invert(1);
}

@media (max-width: 1166px) {
    .slash_heading h2{
        font-size: 24px;
        padding: 0 50px;
    }
    .product_trouble .custom_col_3{
        margin-bottom: 30px;
    }
    .product_trouble_box{
        padding: 28px 18px;
        border-radius: 20px;
    }
    .product_trouble_box.radius_none_right{
        border-radius: 20px 20px 0 20px;
    }
    .product_trouble_box.radius_none_left {
        border-radius: 20px 20px 20px 0;
    }
    .product_solved:before{
        font-size: 100px;
        bottom: -14px;
    }
    .product_forklift table tbody th, .product_forklift table tbody td{
        padding: 7px 10px;
    }
    .customer_voice_section:after{
        font-size: 100px;
        bottom: -11px;
    }
}
@media (max-width: 900px) {
    .breadcrumb_content h2{
        font-size: 46px;
    }
    .collection_bttn_group{
        padding: 30px 0;
    }
    .collection_bttn_group ul{
        justify-content: space-between;
    }
    .collection_bttn_group li{
        margin: 0;
        flex: 0 0 27%;
        max-width: 27%;
    }
    .collection_bttn_group a{
        min-width: auto;
    }
    .custom_pagination{
        padding: 15px 0;
    }
    .custom_pagination li{
        padding: 8px;
    }
    .custom_pagination a{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .products_section{
        padding: 20px 0;
    }
    .products_card{
        margin-bottom: 30px;
    }
    .products_card_content{
        padding: 30px;
    }
    .products_card_content h4{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .product_trouble_box{
        padding: 20px 15px;
        border-radius: 12px;
    }
    .product_trouble_box.radius_none_right{
        border-radius: 12px 12px 0 12px;
    }
    .product_trouble_box.radius_none_left{
        border-radius: 12px 12px 12px 0;
    }
    .product_solved:before{
        font-size: 70px;
        bottom: -9px;
    }
    .product_feature_card{
        padding: 15px 15px 20px;
    }
    .product_feature_card span{
        font-size: 24px;
        top: -24px;
    }
    .product_forklift h4{
        font-size: 16px;
    }
    .customer_voice_card{
        padding: 20px 15px 20px;
    }
    .customer_voice_card span{
        font-size: 24px;
        top: -24px;
    }
    .customer_voice_section:after{
        font-size: 70px;
        bottom: -8px;
    }
}
@media (max-width: 675px) {
    .site_breadcrumb{
        height: 180px;
    }
    .collection_bttn_group ul{
        justify-content: center;
    }
    .collection_bttn_group li{
        flex: 0 0 80%;
        max-width: 80%;
        margin-bottom: 15px;
    }
    .collection_bttn_group li:last-child{
        margin-bottom: 0;
    }
    .products_card_img{
        width: 100%;
        min-height: 210px;
    }
    .products_card_content{
        width: 100%;
    }
}