/*fonts css start*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;*/
/*fonts css end*/

/*common css start*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Noto Sans JP', sans-serif;
}
body.no_scroll {
    overflow: hidden;
}
a, button, input[type=submit], select{
    cursor: pointer;
}
a, a:hover, a:focus,
button, button:hover, button:focus,
input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
.cpc,.cpc-1024 {
    display: block !important;
}
.csp,.csp-1024 {
    display: none !important;
}
@media (max-width: 1024px){
    .cpc-1024{
        display: none !important;
    }
    .csp-1024{
        display: block !important;
    }
}
@media (max-width: 900px){
    .cpc{
        display: none !important;
    }
    .csp{
        display: block !important;
    }
}
/*common css end*/

/*commmon grid css start*/
.custom_container {
    max-width: 1110px;
    padding: 0px 15px;
    margin: 0px auto;
}
.custom_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.custom_row_reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.custom_col_4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.custom_col_6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.custom_col_8 {
    -ms-flex: 0 0 66.67%;
    flex: 0 0 66.67%;
    max-width: 66.67%;
    padding: 0 15px;
}
.custom_col_12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
/*commmon grid css end*/

/*page pre-loader css start*/
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    background-color: #fff;
}
.loader-wrapper .loader {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgba(62, 174, 230, 0.2);
    border-right: 3px solid rgba(62, 174, 230, 0.2);
    border-bottom: 3px solid rgba(62, 174, 230, 0.2);
    border-left: 3px solid rgba(62, 174, 230, 0.8);
    -webkit-animation: loaderSpin 1.5s infinite linear;
    animation: loaderSpin 1.5s infinite linear;
}
@-webkit-keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page pre-loader css end*/

/*animations css start*/
.io {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
}
.io.move {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}
.io.fade {
    opacity: 0;
}
.io.lr {
    -webkit-transform: translate3d(-80px, 0, 0);
    transform: translate3d(-80px, 0, 0);
}
.io.rl {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0);
}
.io.upL {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
}
.io.upS {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.downL {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
.io.downS {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
.io.scaleUp {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.io.scaleDown {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.io.rotateL {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.io.rotateR {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.io.delay.delay1 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}
.io.delay a {
    -webkit-transition: none;
    transition: none;
}
.io.delay .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.delay.delay1 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}
.io.delay.move .delay_child {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
@media (max-width: 900px) {
    .io.delay.delay1 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay2 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay3 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay4 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay1 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay2 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay3 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay4 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
}
/*animations css end*/

/*header section css start*/
.site_header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.site_header a.logo_img {
    margin-left: 30px;
    position: relative;
    z-index: 3;
}
.site_header a.logo_img img {
    max-width: 211px;
}
.site_header nav.custom_navbar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.site_header nav.custom_navbar ul li:not(:first-child) {
    margin-left: 30px;
}
.site_header nav.custom_navbar ul li.number_btn {
    margin-left: 50px;
}
.site_header nav.custom_navbar ul li.inquiry_btn {
    margin-left: 20px;
}
.site_header nav.custom_navbar ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.site_header nav.custom_navbar ul li a span {
    display: table;
    text-align: right;
    padding-right: 4px;
    margin-left: auto;
    font-size: 10px;
    font-weight: 500;
    color: #ED751E;
}
.site_header nav.custom_navbar ul li.number_btn a {
    font-size: 18px;
}
.site_header nav.custom_navbar ul li.inquiry_btn a {
    font-size: 18px;
    color: #fff;
    background-color: #E66925;
    height: 95px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.navbar_toggler {
    padding: 0;
    height: 35px;
    width: 35px;
    border: none;
    outline: none !important;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    z-index: 9999;
}
.navbar_toggler .navbar_toggler_inner,
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    width: 35px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #ed6d00;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar_toggler .navbar_toggler_inner{
    transition: top 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    display: block;
    content: "";
}
.navbar_toggler .navbar_toggler_inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
    top: -12px;
}
.navbar_toggler .navbar_toggler_inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    bottom: -12px;
}
.navbar_toggler.open_menu .navbar_toggler_inner {
    transition: top 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(45deg);
    top: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
    opacity: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(-90deg);
}
/*header section css end*

/*footer section css start*/
.site_footer .footer_content {
    background-color: #F5F5F5;
    padding: 60px 0 100px;
}
.site_footer .custom_row {
    margin: 0;
}
.footer_content .footer_news_col {
    margin-left: auto;
    margin-right: 60px;
    display: table;
}
.footer_content .footer_about_col p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    color: #080808;
    margin-top: 30px;
    line-height: 28px;
}
.footer_content .footer_product_col{
    display: table;
}
.footer_content .footer_column_col {
    margin-left: 40px;
    margin-right: 65px;
    display: table;
}
.footer_content .footer_btn_col {
    flex: 0 0 393px;
    max-width: 393px;
}
.footer_content .footer_text h5 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-weight: 400;
}
.footer_content .footer_text p {
    font-size: 12px;
    color: #737373;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 5px;
}
.footer_text .footer_text_inner {
    margin-top: 25px;
}
.footer_content .footer_btn h4 {
    font-size: 18px;
    color: #080808;
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 26px;
}
.footer_content .footer_btn .footer_btn_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}
.footer_content .footer_btn .footer_btn_inner a:first-child {
    display: block;
    width: 230px;
    height: 70px;
    line-height: 70px;
    background-color: #e66925;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
.footer_content .footer_btn .footer_btn_inner a:last-child {
    font-size: 18px;
    font-weight: 500;
    color: #e66925;
    font-family: 'Montserrat', sans-serif;
}
.footer_content .footer_btn .footer_btn_inner a:last-child span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #080808;
}
.site_footer .copyright_text {
    background-color: #333333;
    text-align: center;
    padding: 26px 15px;
}
.site_footer .copyright_text p {
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
/*footer section css end*/

/*reponsive css start*/
@media (max-width: 1024px) {
    .custom_container {
        max-width: 900px;
    }
    .site_header {
        padding: 14px 15px;
    }
    .site_header a.logo_img {
        margin-left: 0;
    }
    .site_header nav.custom_navbar {
        position: fixed;
        top: 0;
        right: -270px;
        bottom: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: whitesmoke;
        width: 270px;
        transition: all 0.4s;
    }
    .site_header nav.custom_navbar.navbar_animate {
        right: 0;
    }
    .site_header nav.custom_navbar ul {
        flex-direction: column;
    }
    .site_header nav.custom_navbar ul li {
        margin: 8px 0 !important;
        text-align: center;
    }
    .site_header nav.custom_navbar ul li a span {
        padding: 0;
        margin: auto;
    }
    .site_header nav.custom_navbar ul li.inquiry_btn a {
        height: 35px;
        justify-content: center;
        padding: 10px;
        min-width: 160px;
    }
    .site_footer .footer_content {
        padding: 60px 0;
    }
    .footer_content .footer_news_col {
        margin-right: 30px;
    }
    .footer_content .footer_column_col {
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer_content .footer_btn_col {
        flex: 0 0 328px;
        max-width: 328px;
    }
    .footer_content .footer_btn .footer_btn_inner a:first-child {
        width: 180px;
    }
}
@media (max-width: 900px) {
    .footer_content .footer_about_col {
        flex: 0 0 256px;
        max-width: 256px;
    }
    .footer_content .footer_news_col {
        flex: 0 0 90px;
        max-width: 90px;
        margin-left: 30px;
    }
    .footer_content .footer_product_col {
        flex: 0 0 90px;
        max-width: 90px;
    }
    .footer_content .footer_column_col {
        flex: 0 0 90px;
        max-width: 90px;
    }
    .footer_content .footer_btn_col {
        margin-top: 30px;
    }
}
@media (max-width: 675px) {
    .site_header {
        padding: 10px 15px;
    }
    .site_footer .footer_content {
        padding: 40px 0;
    }
    .footer_content .footer_btn_col,
    .footer_content .footer_column_col,
    .footer_content .footer_product_col,
    .footer_content .footer_news_col,
    .footer_content .footer_about_col {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 20px 0 0 !important;
    }
    .footer_content .footer_about_col {
        margin-top: 0 !important;
    }
    .footer_content .footer_about_col p {
        margin-top: 10px;
    }
    .footer_content .footer_btn .footer_btn_inner {
        max-width: 345px;
    }
    .site_footer .copyright_text {
        padding: 15px;
    }
}
/*reponsive css end*/