/*fonts css start*/
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*fonts css end*/

/*banner section css start*/
.banner_image {
    width: 89.2vw;
    position: relative;
    padding-top: 52.5%;
    margin-left: auto;
}
.banner_section .banner_content {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
}
.banner_section .banner_content:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1015px;
    height: 618px;
    background-color: #333333;
    z-index: -1;
}
.banner_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.banner_section .banner_content h1 {
    position: absolute;
    left: 40px;
    bottom: 100px;
    color: #fff;
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    letter-spacing: -3px;
}
.banner_section .banner_content h1 span.text_small {
    font-size: 48px;
}
.banner_section .banner_content h1 span.text_big {
    font-size: 60px;
}
.banner_section .banner_content p {
    margin: 31px 0 31px 40px;
    color: #fff;
    font-size: 14px;
}
.banner_image p {
    z-index: 1;
    position: absolute;
    bottom: 120px;
    right: -40px;
    transform: rotate(90deg);
    padding-right: 70px;
    margin: 0 !important;
}
.banner_image p:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    width: 56px;
    height: 1px;
    background-color: #fff;
    margin: auto;
}
/*banner section css end*/

/*strengths section css start*/
.strengths_section {
    padding: 90px 0 150px;
    position: relative;
}
.contact_section .heading,
.column_section .heading,
.strengths_section .heading {
    text-align: center;
    display: table;
    padding: 0 15px;
    margin: 0 auto 20px;
}
.heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: #080808;
}
.heading p {
    font-size: 13px;
    font-weight: 400;
    color: #ED751E;
    margin-top: 5px;
    font-family: 'Noto Sans JP', sans-serif
}
.strengths_section .heading h1 {
    text-align: right;
    font-size: 120px;
    position: absolute;
    top: 50px;
    right: 0;
    line-height: 150px;
    z-index: -1;
    color: #F5F5F5;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.strengths_point_box {
    position: relative;
    margin: 31px 0;
    display: inline-block;
    width: 100%;
}
.strengths_point_box .custom_container {
    position: relative;
}
.strengths_point_box .custom_row {
    margin: 0;
}
.strengths_point_box .custom_col_image {
    flex: 0 0 386px;
    max-width: 386px;
}
.strengths_point_box .custom_col_text {
    flex: 0 0 calc(100% - 386px);
    max-width: calc(100% - 386px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.strengths_point_box .strengths_text:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 283px;
    box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 16%);
    z-index: -1;
}
.strengths_point_box .strengths_text .strengths_text_inner {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 50px;
}
.strengths_point_box .strengths_text h4 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 30px;
    line-height: 25px;
}
.strengths_point_box .strengths_text p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 32px;
    color: #080808;
}
.strengths_point_box .strengths_text p a {
    color: #080808;
    text-decoration: underline;
}
.strengths_point_box .strengths_text h3 {
    font-size: 36px;
    font-weight: 400;
    color: #ED751E;
    position: absolute;
    top: -38px;
    right: 30px;
    transform: rotate(-10deg);
    font-family: 'Noto Sans JP', sans-serif
}
.strengths_point_box .strengths_text h3 span {
    font-size: 54px;
    font-weight: 400;
}
.strengths_point_box:before {
    content: '';
    position: absolute;
    bottom: -51px;
    width: 437px;
    height: 448px;
    background-color: #F5F5F5;
    z-index: -1;
}
.strengths_point_box.strengths_point_first_box:before,
.strengths_point_box.strengths_point_third_box:before {
    left: 0;
}
.strengths_point_box.strengths_point_second_box:before {
    right: 0;
}
/*strengths section css end*/

/*product section css start*/
.product_section {
    padding: 60px 0 120px;
    background-image: url(../images/product_image_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.product_heading h1 {text-align: right;
    font-size: 120px;
    position: absolute;
    top: 16px;
    right: 0;
    line-height: 150px;
    color: rgba(159,78,19,0.30);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;z-index: 0;
}
.product_content .custom_row {
    margin: 0;
}
.product_section .product_heading {
    margin-bottom: 50px;
}
.product_section .product_heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: #fff;
    font-weight: 700;
}
.product_section .product_heading p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    font-family: 'Noto Sans JP', sans-serif;
}
.product_content .custom_col_image {
    flex: 0 0 430px;
    max-width: 430px;
}
.product_content .custom_col_text {
    flex: 0 0 calc(100% - 430px);
    max-width: calc(100% - 430px);
    background-color: #fff;
}
.product_content .product_image {
    position: relative;
    padding-top: 62.4%;
    overflow: hidden;
}
.product_content .product_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.product_content .custom_col_text .product_text {
    padding: 30px 50px;
}
.product_content .custom_col_text .product_text h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    color: #181818;
    margin-bottom: 20px;
}
.product_content .custom_col_text .product_text h3 span {
    font-size: 34px;
}
.product_content .custom_col_text .product_text p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    color: #181818;
    line-height: 30px;
}
.product_content .custom_col_text .product_text a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    color: #181818;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    margin-top: 19px;
}
.product_link {
    padding: 25px;
    background-color: #333333;
    display: table;
    position: absolute;
    right: 50px;
    bottom: -12px;
}
.product_link ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.product_link ul li:not(:last-child) {
    margin-right: 40px;
    padding-right: 40px;
    border-right: 1px solid #fff;
}
.product_link ul a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
.product_link ul li:last-child a {
    font-size: 18px;
}
.product_link ul li:last-child a img {
    margin-left: 15px;
}
/*product section css end*/

/*column section css start*/
.column_section {
    position: relative;
    padding: 90px 0;
}

.column_section .heading {
    padding: 0;
    margin-bottom: 75px;
}
.column_section .heading h1 {
    text-align: right;
    font-size: 120px;
    position: absolute;
    top: 0;
    left: -238px;
    bottom: 0;
    margin: auto;
    z-index: -1;
    color: #F5F5F5;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transform: rotate(90deg);
    display: table;
}
.column_box .column_image_text {
    min-width: 100px;
    text-align: center;
    display: table;
    padding: 5px;
    background-color: #ED751E;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
}
.column_box .column_image_text p {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
.column_box .column_image {
    position: relative;
    padding-top: 65%;
    border: 1px solid #D8D8D8
}
.column_box .column_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.column_box .column_text h6 {
    font-size: 14px;
    color: rgba(51,51,51,0.3);
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px 0 10px;
}
.column_box .column_text p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 30px;
}
.column_content .form_submit {
    margin-top: 60px;
}
/*column section css end*/

/*news section css start*/
.news_section {
    position: relative;
    padding-bottom: 70px;
}
.news_section .news_content {
    position: relative;
    padding: 62px 0;
}
.news_heading {
    width: 502px;
    height: 391px;
    background-color: #e66925;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.news_heading h1 {
    font-size: 120px;
    line-height: 90px;
    color: rgba(159,78,19,0.30);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.news_section .news_content:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 96.1vw;
    height: 100%;
    background-color: #f5f5f5;
    z-index: -1;
}
.news_section .custom_col_heading {
    flex: 0 0 336px;
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.news_section .custom_col_text {
    flex: 0 0 calc(100% - 336px);
    max-width: calc(100% - 336px);
}
.news_section .news_table {
    display: table;
    width: 100%;
    border-top: 1px solid #FFFFFF;
}
.news_section .news_table_row {
    display: table-row;
}
.news_section .news_table_th, .news_section .news_table_td {
    padding: 28px 0;
    border-bottom: 1px solid #FFFFFF;
    display: table-cell;
    vertical-align: middle;
}
.news_section .news_table_td label {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #e66925;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_section .news_table_td span {
    display: inline-block;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.5);
    font-weight: 600;
    line-height: 26px;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_section .news_table_td p {
    font-size: 16px;
    color: #333839;
    font-weight: 400;
    line-height: 26px;
}
.news_section .form_submit {
    max-width: 215px;
    margin: 0;
}
/*news section css end*/

/*contact section css start*/
.contact_section {
    padding-top: 100px;
}
.contact_section .heading {
    padding: 0;
    margin-bottom: 35px;
}
.contact_section .inquiry_text {
    display: table;
    margin: auto;
    position: relative;
    padding: 0px 50px;
    margin-bottom: 60px;
}
.contact_section .inquiry_text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../images/image_line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 27px;
    height: 42px;
}
.contact_section .inquiry_text:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(180deg);
    background-image: url(../images/image_line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 27px;
    height: 42px;
}
/*contact section css end*/

/*reponsive css start*/
@media (max-width: 1024px) {}
@media (max-width: 900px) {}
@media (max-width: 675px) {}
/*reponsive css end*/